<div class="row">
  <div class="large-10 columns">
    <strong><%= current_user.team.name %> Projects:</strong>
  </div>
</div>

<br>

<% @projects.each_with_index do |project, idx| %>
  <%= render 'shared/proj_list', project: project, idx: idx %>
<% end %>
