/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "foundation_and_overrides";
 @import "foundation-icons";

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.scaps {
  font-variant:small-caps;
}

.size-12 {
  font-size: 12pt;
}

.size-14 {
  font-size: 14pt;
}

.size-16 {
  font-size: 16pt;
}

.size-18 {
  font-size: 18pt;
}

.row-container {
  max-height: 300px;
  overflow: scroll;
}

.embedded-pct {
  text-align: center;
  font-size: 0.75em;
}
